/* 
footer
information from multiple pages off W3
*/
.footer {
  background: linear-gradient(269.08deg, #75E3CD 8.57%, rgba(117, 227, 205, 0) 50.79%), linear-gradient(90.94deg, #FF7CAE 17.21%, rgba(255, 124, 174, 0) 59.1%), #FAC02C;
  overflow: hidden;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 0px 0px; /* top right bottom left */
  justify-content: space-between; /* makes items take up whole space */
  /* text/font info */
  font-size: 17px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  color: white;
  }

  
    
/* turns socials into a row */
.footer .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #F7EDE2; 
    text-align: center;
    /*padding: 14px 16px;*/
    gap: 16px; 
    padding-left: 16px;
}

/* turns menu items into row */
.footer .menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    gap: 36px;
}
.footer .menu-items a {
  color: white;
  text-decoration: none;
}


/* Add a dark background on footer links and the dropdown button on hover */
.footer .menu-items a:hover {
  background: rgba(0, 0, 0, 0.377);
    padding: 8px 16px;
}
.footer .socials a:hover {
  background: rgba(0, 0, 0, 0.377);
  padding: 2px;
  border-radius: 12px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the footer (.icon) */
@media screen and (max-width: 680px) {
    .footer, .footer .menu-items {
    flex-direction: column;
    }
    .footer {
      padding-top: 16px;
    }
}

/* basically copied topnav and changed it up a bit to fit the bottom */
