/* 
Navigation bar 
information from multiple pages off W3
*/
.footer {
    background: linear-gradient(269.08deg, #75E3CD 8.57%, rgba(117, 227, 205, 0) 50.79%), linear-gradient(90.94deg, #FF7CAE 17.21%, rgba(255, 124, 174, 0) 59.1%), #FAC02C;
    overflow: hidden;
    }
    
/* Style the links inside the navigation bar */
.footer a {
    float: left;
    display: block;
    color: #F7EDE2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
}

/* Style the links inside the navigation bar */
.footer b {
    float: right;
    display: block;
    color: #F7EDE2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
}

  /* Hide the link that should open and close the footer on small screens*/
  .footer .icon {
    display: none;
  }


/* Add a dark background on footer links and the dropdown button on hover */
.footer b:hover {
    background: linear-gradient(2.08deg, #FF9320 -0.8%, rgba(255, 147, 32, 0) 79.94%), #FAC02C;
    color: #695A5F;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the footer (.icon) */
@media screen and (max-width: 680px) {
    .footer b {
    display: none;
    }
    .footer a.icon {
        float: right;
        display: block;
      }
}

/* The "responsive" class is added to the footer with JavaScript when the user clicks on the icon. This class makes the footer look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 680px) {
    .footer.responsive {position: relative;}
    .footer.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .footer.responsive a {
    float: none;
    display: block;
    text-align: left;
    }

}

/* basically copied topnav and changed it up a bit to fit the bottom */
