/* text thingies to copy and paste
font-family: 'Comfortaa', cursive;
font-family: 'Raleway', sans-serif;
*/

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  background: white;
  font-family: sans-serif;
  /* so that default is not serif font */
  display: block;
}

.hero { /* hero holding image and text */
  position: relative;
  height: 100vh;
  /*overflow: hidden; */
  background: linear-gradient(rgba(0, 0, 0, 0.281),rgba(0, 0, 0, 0.349)), url(images/photographs/colorado-landscape.jpg) no-repeat center;
  background-size: cover;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: white;
}
.hero-content h1 {
  font-size: 11vw;
  letter-spacing: 0.2em;
  margin: 0;
}
.hero-content h1 span {
  border: 1vw solid white;
  padding: 6px 14px;
  display: inline-block;
}
.des {
  margin: 20px;
  display: block;
  font-size: 3vw;
  color: white;
}
/* source for header https://www.youtube.com/watch?v=dJQedxalv64 */


.content{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
} /* I need to add this AFTER hero and header and BEFORE footer*/

/* intro video info */
.videoWrap {
  text-align: center;
}
@media screen and (max-width: 560px) {
  .videoWrap {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-bottom: 24px;
  }
  .videoWrap iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 24px 0;
  }
}
/* info on keeping smaller on large screens but full on smaller screens: https://forum.freecodecamp.org/t/help-resizing-embed-youtube-video-with-css/210568/4 */


/* family images row */
.img-container{
  float: left;
  width: 33.33%;
  padding: 5px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* bio info */
.bio{
  max-width: 800px;
  padding: 24px;
  float: center;
}
.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #F7EDE2; 
  text-align: center;
  /*padding: 14px 16px;*/
  gap: 36px; 
  margin-bottom: 24px;
}
.socials a:hover {
  background: rgba(109, 109, 109, 0.158);
  border-radius: 12px;
}


/* project header */
.project-header{
  background: linear-gradient(94.36deg, #FF7CAE 0.64%, rgba(255, 124, 174, 0) 104.33%), linear-gradient(82.83deg, #FF9320 -0.81%, rgba(255, 147, 32, 0) 88.36%), #FAC02C;
  /* Inside auto layout */
  flex: none;
  width: 100%;
}
/* project cards */
.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding: 16px 0px;
  gap: 16px;
}
/* actual cards */
.projects .cards {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: -3px 5px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 240px;
  gap: 8px;
}
.projects .cards .links {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  margin-bottom: 8px;
}
.projects .cards .links a {
  text-align: center;
  color: #FF9320;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
}
.projects h3 {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #FF7CAE;
}
.projects p {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0;
}
.projects .cards img {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 12px;
}
@media screen and (max-width: 680px) {
  .projects {flex-direction: column;}
}

/* contact div info */
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-bottom: 16px;
  gap: 20px;
  background: linear-gradient(94.36deg, #FF7CAE 0.64%, rgba(255, 124, 174, 0) 104.33%), linear-gradient(82.83deg, #FF9320 -0.81%, rgba(255, 147, 32, 0) 88.36%), #FAC02C;
  width: 100%;
}


/* general text info */
h1 {
  /* for big titles */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: white;
  z-index: 5;
}
h2 {
  /* larger heading */
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
  color: #FF9320;
  z-index: 5;
}
h3 {
  /* smaller than h2 */
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  text-align: center;
  vertical-align: center;
  color: white;
  z-index: 5;
}
p {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  z-index: 5;
}

/* button info that is probably wrong */
.btn {
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
      #FF7CAE 0%,
      #FF9320 53.4%,
      #FAC02C 99.5%
  );
  box-shadow: -3px 5px 10px 1px rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  border-radius: 12px;
  font-family: 'Comfortaa', cursive;
}
.btn:hover {
  background: radial-gradient(
    circle farthest-corner at 100% 20%,
    #FF7CAE 0%,
    #FF9320 53.4%,
    #FAC02C 99.5%
  );
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.3);
  border: none;
}


/*
colors
#F6BD60 (close to gold)
#F28482 #FFB5A7 (darker pink and lighter pink)
#84A59D #D8E2DC (DARKER BLUE LIGHTER BLUE)
#FEC89A #FFD7BA (DARKER PEACH AND LIGHTER PEACH)
#F7EDE2 #695A5F (WHITE AND DARKER PURPLE)


#preloader {
  background: #EAE2B7 url(images/base/loader.gif) no-repeat center center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
*/