body {
    margin: 5px;
}

.content {
  display: grid; /* important to set this */
  grid-template-columns: 1fr 2fr 25fr 2fr 1fr; 
  /*grid-template-rows: repeat(4, 150px); */
  gap: 5px; /*gap between elements */
  text-align: center;
  background-color: #EAE2B7;
}

.s1 { /* welcome */
  grid-column: 1 / 6; 
  background-color: #EAE2B7;
  background-image: url(images/base/sunrise-desert.png);
  padding: 400px 100px;
  background-position: center center;
  /*it is always center verticaly and horizontally */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* it is fixed depending on viewport*/
  max-width: 100%;
  text-align: center;
}
.s2 { /* video */
  grid-column: 3 / 4; 
  background-color: #84A59D;
} 
.s3 { /* bio */
  grid-column: 3 / 4; 
  background-color: #EAE2B7;
}
.s4 { /* projects */
  grid-column: 3 / 4; 
  background-color: #84A59D;
}
.s5 {
  grid-column: 1 / 6; 
  background-color: #84A59D;
} 
.s6 {
  grid-column: 1 / 6; 
  background-color: #84A59D;
} 
.s7 {
  grid-column: 1 / 6; 
  background-color: #84A59D;
} 
@media screen and (max-width: 620px) {
  .s1, .s2, .s3, .s4, .s5, .s6, .s7 {
    width: 100%;
  }
}

.videoWrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  }
/* this makes the video keep its ratio, and be fully in frame in different screens */
.videoWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
    /* for big titles */
    font-family: 'Meow Script', cursive;
    font-weight: lighter;
    font-size: 10em;
    text-align: center;
}

h2 {
    /* slanted */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: lighter;
}

h3 {
    /* all caps */
    font-family: 'Patrick Hand SC', cursive;
    font-weight: 100;
    font-size: 20px;
}

p {
    font-family: 'Manjari', sans-serif;
    font-size: 16px;
    color: #695A5F;
}

img {
    display: block;
    margin: 0 auto;
}

/*
colors
#F6BD60 (close to gold)
#F28482 #FFB5A7 (darker pink and lighter pink)
#84A59D #D8E2DC (DARKER BLUE LIGHTER BLUE)
#FEC89A #FFD7BA (DARKER PEACH AND LIGHTER PEACH)
#F7EDE2 #695A5F (WHITE AND DARKER PURPLE)
*/

#preloader {
  background: #EAE2B7 url(images/base/loader.gif) no-repeat center center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
